h1{
    color: black;
    text-align: center;
    text-shadow: 1px 2px 2px blueviolet ;
}

body{
    background: linear-gradient(90deg, #fff 0%, blueviolet 100%);
}

ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background: linear-gradient(90deg, #fff 0%, blueviolet 100%);
   
}


li{
    float: left;
    border-right: 3px solid (90deg, #fff 0%, blueviolet 100%);
    
}

li a{
    display: block;
    color: blueviolet;
    text-align: center;
    padding: 10px 15px;
}

.active{
    background-color: black;
}

li a:hover:not(.active){
    background-color: black;
}